@import "../../App.scss";

.badge-title {
    @extend .default-flex;
    background-color: #FF7724;
    height: 36px;
    width: 136px;
    border-radius: 0px 8px 8px 0px;
    color: #FFFFFF;
    line-height: 24px;
}